<form action="{{ routes.search_url }}" method="get" role="search" class="search-action">
  <input
    type="text"
    name="q"
    placeholder="{{ 'content.search_input_label' | t }}"
    class="search-action__input"
    aria-label="{{ 'content.search_input_label' | t }}"
  >
  <button type="submit" class="search-action__submit" aria-label="Search">
    <span class="svg-wrapper" aria-hidden="true">
      {{ 'icon-search.svg' | inline_asset_content }}
    </span>
  </button>
  <input type="hidden" name="type" value="product">
</form>
