{%- comment -%}
  WoodenStreet MVP component: Zoom & Pan Gallery
{%- endcomment -%}

<div class="ws-zoom-pan" data-ws-zoom-pan>
  <button class="ws-zoom-pan__button" type="button">Zoom</button>
  <span class="ws-zoom-pan__hint">Tap image to zoom</span>
</div>
