<div class="slideshow-arrows {{ class }}">
  <button type="button" class="slideshow-arrow slideshow-arrow--prev" aria-label="{{ 'sections.slideshow.previous_slide' | t }}">
    {% render 'icon-chevron-down-small' %}
  </button>
  <button type="button" class="slideshow-arrow slideshow-arrow--next" aria-label="{{ 'sections.slideshow.next_slide' | t }}">
    {% render 'icon-chevron-down-small' %}
  </button>
</div>
